---
swagger: "2.0"
info:
  description: "Use Amazon Kinesis Data Streams to collect and process large streams\
    \ of data records in real time.\n- Use Kinesis Video Streams to capture, process,\
    \ and store video streams for analytics and machine learning.\n- Use Kinesis Data\
    \ Streams to build custom applications that analyze data streams using popular\
    \ stream processing frameworks.\n- Use Kinesis Data Firehose to load data streams\
    \ into AWS data stores.\n- Use Kinesis Data Analytics to analyze data streams\
    \ with SQL."
  version: "1.0"
  title: "AmazonJAM Kinesis"
  contact:
    name: "Amazon JAM"
    url: "https://us-west-2.console.aws.amazon.com/kinesis/home?region=us-west-2#/streams/list"
  license:
    name: "AWS | Site Terms"
    url: "https://aws.amazon.com/terms/"
  x-logo:
    url: "https://docs.aws.amazon.com/images/aws_logo_105x39.png"
  x-origin:
  - format: "swagger"
    url: "https://github.com/InnovationOps/JAM/tree/SWAGGERHUB/yaml-resolved"
    version: "2.0"
  x-preferred: true
  x-providerName: "Amazon.com"
  x-unofficialSpec: true
host: "aws.amazon.com"
basePath: "/streams"
tags:
- name: "AddTagsToStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_AddTagsToStream.html#API_AddTagsToStream_RequestSyntax'\
    \ target='_blank'>See Request Syntax</a> "
- name: "CreateStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_CreateStream.html#API_createStream_RequestSyntax'\
    \ target='_blank'>See Request Syntax</a>"
- name: "DeleteStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_DeleteStream.html#API_createStream_RequestSyntax'\
    \ target='_blank'>See Request Syntax</a> "
- name: "DecreaseStreamRetentionPeriod"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_DecreaseStreamRetentionPeriod.html#API_decreaseStreamRetentionPeriod'\
    \ target='_blank'>See Request Syntax</a>"
- name: "DescribeLimits"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_DescribeLimits.html#API_DescribeStream'\
    \ target='_blank'>See Request Syntax</a> "
- name: "DescribeStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_DescribeStream.html#API_DescribeStream'\
    \ target='_blank'>See Request Syntax</a>"
- name: "DisableEnhancedMonitoring"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_DisableEnhancedMonitoring.html#API_DisableEnhancedMonitoring'\
    \ target='_blank'>See Request Syntax</a>"
- name: "EnableEnhancedMonitoring"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_index.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "GetRecords"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetRecords.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "GetShardIterator"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetShardIterator.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "IncreaseStreamRetentionPeriod"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_IncreaseStreamRetentionPeriod.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "ListStreams"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_ListStreams.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "ListTagsForStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_ListTagsForStream.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "MergeShards"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_ListTagsForStream.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "PutRecord"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_PutRecord.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "PutRecords"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_PutRecords.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "RemoveTagsFromStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_RemoveTagsFromStream.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "SplitShard"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_SplitShard.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "StartStreamEncryption"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_StartStreamEncryption.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "StopStreamEncryption"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_StopStreamEncryption.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "UpdateShardCount"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_UpdateShardCount.html'\
    \ target='_blank'>See Request Syntax</a>"
schemes:
- "https"
paths:
  /AddTagsToStream:
    post:
      tags:
      - "AddTagsToStream"
      summary: "addTagsToStream()"
      operationId: "addTagsToStream"
      parameters:
      - name: "StreamName"
        in: "query"
        description: "Adds or updates tags for the specified Kinesis stream"
        required: true
        type: "string"
      - name: "keyName"
        in: "query"
        description: "<a href=https://docs.aws.amazon.com/kinesis/latest/APIReference/API_AddTagsToStream.html#API_AddTagsToStream_RequestSyntax\
          \ target='_blank'>Generate your application key</a> "
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=https://docs.aws.amazon.com/kinesis/latest/APIReference/API_AddTagsToStream.html#API_AddTagsToStream_RequestSyntax\
          \ target='_blank'>Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /CreateStream:
    post:
      tags:
      - "CreateStream"
      summary: "createStream()"
      operationId: "createStream"
      parameters:
      - name: "shardCount"
        in: "query"
        description: "The number of shards that the stream will use"
        required: true
        type: "integer"
      - name: "streamName"
        in: "query"
        description: "A name to identify the stream"
        required: true
        type: "string"
      - name: "apiKey"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server Rejected"
      security:
      - api_key: []
      - api_token: []
  /DeleteStream:
    post:
      tags:
      - "DeleteStream"
      summary: "deleteStream()"
      operationId: "deleteStream"
      parameters:
      - name: "streamName"
        in: "query"
        description: "Deletes a Kinesis stream and all its shards and data"
        required: true
        type: "string"
      - name: "apiKey"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href='https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user'\
          \ target='_blank'>Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /DecreaseStreamRetentionPeriod:
    post:
      tags:
      - "decreaseStreamRetentionPeriod"
      summary: "decreaseStreamRetentionPeriod()"
      operationId: "decreaseStreamRetentionPeriod"
      parameters:
      - name: "retentionPeriodHours"
        in: "query"
        description: "To decrease stream retention period"
        required: true
        type: "integer"
      - name: "streamName"
        in: "query"
        description: "The name of the stream to modify"
        required: true
        type: "string"
      - name: "apiKey"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /DescribeLimits:
    post:
      tags:
      - "describeLimits"
      summary: "describeLimits()"
      operationId: "describeLimits"
      parameters:
      - name: "ExclusiveStartShardId"
        in: "query"
        description: "Describes the specified Kinesis stream"
        required: true
        type: "string"
      - name: "apiKey"
        in: "query"
        description: "<a href='https://trello.com/1/appKey/generate' target='_blank'>Generate\
          \ your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"
  api_token:
    type: "apiKey"
    name: "token"
    in: "query"
definitions:
  actions:
    type: "object"
    properties:
      text:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "action"
  actions_comments:
    type: "object"
    properties:
      text:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "card"
  actions_text:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "action"
  boards:
    type: "object"
    properties:
      closed:
        type: "string"
        description: " true or false"
      desc:
        type: "string"
        description: "a string with a length from 0 to 16384"
      idBoardSource:
        type: "string"
        description: "The id of the board to copy into the new board"
      idOrganization:
        type: "string"
        description: "The id or name of the organization to add the board to."
      keepFromSource:
        type: "string"
        description: "Components of the source board to copy."
      labelNames/blue:
        type: "string"
        description: "a string with a length from 0 to 16384"
      labelNames/green:
        type: "string"
        description: "a string with a length from 0 to 16384"
      labelNames/orange:
        type: "string"
        description: "a string with a length from 0 to 16384"
      labelNames/purple:
        type: "string"
        description: "a string with a length from 0 to 16384"
      labelNames/red:
        type: "string"
        description: "a string with a length from 0 to 16384"
      labelNames/yellow:
        type: "string"
        description: "a string with a length from 0 to 16384"
      name:
        type: "string"
        description: "a string with a length from 1 to 16384"
      powerUps:
        type: "string"
        description: "all or a comma-separated list of: calendar, cardAging, recap\
          \ or voting"
      prefs/background:
        type: "string"
        description: "A standard background name, or the id of a custom background"
      prefs/calendarFeedEnabled:
        type: "string"
        description: " true or false"
      prefs/cardAging:
        type: "string"
        description: "One of: pirate or regular"
      prefs/cardCovers:
        type: "string"
        description: " true or false"
      prefs/comments:
        type: "string"
        description: "One of: disabled, members, observers, org or public"
      prefs/invitations:
        type: "string"
        description: "One of: admins or members"
      prefs/permissionLevel:
        type: "string"
        description: "One of: org, private or public"
      prefs/selfJoin:
        type: "string"
        description: " true or false"
      prefs/voting:
        type: "string"
        description: "One of: disabled, members, observers, org or public"
      prefs_background:
        type: "string"
        description: "a string with a length from 0 to 16384"
      prefs_cardAging:
        type: "string"
        description: "One of: pirate or regular"
      prefs_cardCovers:
        type: "string"
        description: " true or false"
      prefs_comments:
        type: "string"
        description: "One of: disabled, members, observers, org or public"
      prefs_invitations:
        type: "string"
        description: "One of: admins or members"
      prefs_permissionLevel:
        type: "string"
        description: "One of: org, private or public"
      prefs_selfJoin:
        type: "string"
        description: " true or false"
      prefs_voting:
        type: "string"
        description: "One of: disabled, members, observers, org or public"
      subscribed:
        type: "string"
        description: " true or false"
    xml:
      name: "board"
  boards_checklists:
    type: "object"
    properties:
      name:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "board"
  boards_closed:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "board"
  boards_desc:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "board"
  boards_idOrganization:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "board"
  boards_labels:
    type: "object"
    properties:
      color:
        type: "string"
        description: "A valid label color or null"
      name:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "board"
  boards_lists:
    type: "object"
    properties:
      name:
        type: "string"
        description: "a string with a length from 1 to 16384"
      pos:
        type: "string"
        description: "A position. top , bottom , or a positive number."
    xml:
      name: "board"
  boards_members:
    type: "object"
    properties:
      email:
        type: "string"
        description: "An email address"
      fullName:
        type: "string"
        description: "A string with a length of at least 1.  Cannot begin or end with\
          \ a space."
      type:
        type: "string"
        description: "One of: admin, normal or observer"
    xml:
      name: "board"
  boards_memberships:
    type: "object"
    properties:
      member_fields:
        type: "string"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
      type:
        type: "string"
        description: "One of: admin, normal or observer"
    xml:
      name: "board"
  boards_name:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "board"
  boards_powerUps:
    type: "object"
    properties:
      value:
        type: "string"
        description: "One of: calendar, cardAging, recap or voting"
    xml:
      name: "board"
  boards_subscribed:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "board"
  cards:
    type: "object"
    properties:
      closed:
        type: "string"
        description: " true or false"
      desc:
        type: "string"
        description: "a string with a length from 0 to 16384"
      due:
        type: "string"
        description: "A date, or null"
      fileSource:
        type: "string"
        description: "A file"
      idAttachmentCover:
        type: "string"
        description: "Id of the image attachment of this card to use as its cover,\
          \ or null for no cover"
      idBoard:
        type: "string"
        description: "id of the board the card should be moved to"
      idCardSource:
        type: "string"
        description: "The id of the card to copy into a new card."
      idLabels:
        type: "string"
        description: "A comma-separated list of objectIds, 24-character hex strings"
      idList:
        type: "string"
        description: "id of the list that the card should be added to"
      idMembers:
        type: "string"
        description: "A comma-separated list of objectIds, 24-character hex strings"
      keepFromSource:
        type: "string"
        description: "Properties of the card to copy over from the source."
      labels:
        type: "string"
        description: "all or a comma-separated list of: blue, green, orange, purple,\
          \ red or yellow"
      name:
        type: "string"
        description: "The name of the new card.  It isn&#39;t required if the name\
          \ is being copied from provided by a URL, file or card that is being copied."
      pos:
        type: "string"
        description: "A position. top , bottom , or a positive number."
      subscribed:
        type: "string"
        description: " true or false"
      urlSource:
        type: "string"
        description: "A URL starting with http:// or https:// or null"
    xml:
      name: "card"
  cards_actions_comments:
    type: "object"
    properties:
      text:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "card"
  cards_attachments:
    type: "object"
    properties:
      file:
        type: "string"
        description: "A file"
      mimeType:
        type: "string"
        description: "a string with a length from 0 to 256"
      name:
        type: "string"
        description: "a string with a length from 0 to 256"
      url:
        type: "string"
        description: "A URL starting with http:// or https:// or null"
    xml:
      name: "card"
  cards_checklist_checkItem:
    type: "object"
    properties:
      name:
        type: "string"
        description: "a string with a length from 1 to 16384"
      pos:
        type: "string"
        description: "A position. top , bottom , or a positive number."
    xml:
      name: "card"
  cards_checklist_checkItem_name:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "card"
  cards_checklist_checkItem_pos:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A position. top , bottom , or a positive number."
    xml:
      name: "card"
  cards_checklist_checkItem_state:
    type: "object"
    properties:
      value:
        type: "string"
        description: "One of: complete, false, incomplete or true"
    xml:
      name: "card"
  cards_checklist_idChecklistCurrent_checkItem:
    type: "object"
    properties:
      idChecklist:
        type: "string"
        description: "An id, or null"
      name:
        type: "string"
        description: "a string with a length from 1 to 16384"
      pos:
        type: "string"
        description: "A position. top , bottom , or a positive number."
      state:
        type: "string"
        description: "One of: complete, false, incomplete or true"
    xml:
      name: "card"
  cards_checklists:
    type: "object"
    properties:
      idChecklistSource:
        type: "string"
        description: "The id of the source checklist to copy into a new checklist."
      name:
        type: "string"
        description: "a string with a length from 0 to 16384"
      value:
        type: "string"
        description: "The id of the checklist to add to the card, or null to create\
          \ a new one."
    xml:
      name: "card"
  cards_closed:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "card"
  cards_desc:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "card"
  cards_due:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A date, or null"
    xml:
      name: "card"
  cards_idAttachmentCover:
    type: "object"
    properties:
      value:
        type: "string"
        description: "Id of the image attachment of this card to use as its cover,\
          \ or null for no cover"
    xml:
      name: "card"
  cards_idBoard:
    type: "object"
    properties:
      idList:
        type: "string"
        description: "id of the list that the card should be moved to on the new board"
      value:
        type: "string"
        description: "id of the board the card should be moved to"
    xml:
      name: "card"
  cards_idLabels:
    type: "object"
    properties:
      value:
        type: "string"
        description: "The id of the label to add"
    xml:
      name: "card"
  cards_idList:
    type: "object"
    properties:
      value:
        type: "string"
        description: "id of the list the card should be moved to"
    xml:
      name: "card"
  cards_idMembers:
    type: "object"
    properties:
      value:
        type: "string"
        description: "The id of the member to add to the card"
    xml:
      name: "card"
  cards_labels:
    type: "object"
    properties:
      color:
        type: "string"
        description: "A valid label color or null"
      name:
        type: "string"
        description: "a string with a length from 0 to 16384"
      value:
        type: "string"
        description: "all or a comma-separated list of: blue, green, orange, purple,\
          \ red or yellow"
    xml:
      name: "card"
  cards_membersVoted:
    type: "object"
    properties:
      value:
        type: "string"
        description: "The id of the member to vote &#39;yes&#39; on the card"
    xml:
      name: "card"
  cards_name:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "card"
  cards_pos:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A position. top , bottom , or a positive number."
    xml:
      name: "card"
  cards_stickers:
    type: "object"
    properties:
      image:
        type: "string"
        description: "a string with a length from 0 to 16384"
      left:
        type: "string"
        description: "undefined"
      rotate:
        type: "string"
        description: "undefined"
      top:
        type: "string"
        description: "undefined"
      zIndex:
        type: "string"
        description: "Valid Z values for stickers, must be an integer"
    xml:
      name: "card"
  cards_subscribed:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "card"
  checklists:
    type: "object"
    properties:
      idBoard:
        type: "string"
        description: "id of the board that the checklist should be added to"
      idCard:
        type: "string"
        description: "id of the card that the checklist should be added to"
      idChecklistSource:
        type: "string"
        description: "The id of the source checklist to copy into a new checklist."
      name:
        type: "string"
        description: "a string with a length from 0 to 16384"
      pos:
        type: "string"
        description: "A position. top , bottom , or a positive number."
    xml:
      name: "checklist"
  checklists_checkItems:
    type: "object"
    properties:
      checked:
        type: "string"
        description: " true or false"
      name:
        type: "string"
        description: "a string with a length from 1 to 16384"
      pos:
        type: "string"
        description: "A position. top , bottom , or a positive number."
    xml:
      name: "checklist"
  checklists_idCard:
    type: "object"
    properties:
      value:
        type: "string"
        description: "The id of the card that the checklist is on"
    xml:
      name: "checklist"
  checklists_name:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "checklist"
  checklists_pos:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A position. top , bottom , or a positive number."
    xml:
      name: "checklist"
  labelNames_blue:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "board"
  labelNames_green:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "board"
  labelNames_orange:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "board"
  labelNames_purple:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "board"
  labelNames_red:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "board"
  labelNames_yellow:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "board"
  labels:
    type: "object"
    properties:
      color:
        type: "string"
        description: "A valid label color or null"
      idBoard:
        type: "string"
        description: "An id"
      name:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "label"
  labels_color:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A valid label color or null"
    xml:
      name: "label"
  labels_name:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "label"
  lists:
    type: "object"
    properties:
      closed:
        type: "string"
        description: " true or false"
      idBoard:
        type: "string"
        description: "id of the board that the list should be added to"
      idListSource:
        type: "string"
        description: "The id of the list to copy into a new list."
      name:
        type: "string"
        description: "a string with a length from 1 to 16384"
      pos:
        type: "string"
        description: "A position. top , bottom , or a positive number."
      subscribed:
        type: "string"
        description: " true or false"
    xml:
      name: "list"
  lists_cards:
    type: "object"
    properties:
      desc:
        type: "string"
        description: "a string with a length from 0 to 16384"
      due:
        type: "string"
        description: "A date, or null"
      idMembers:
        type: "string"
        description: "A comma-separated list of objectIds, 24-character hex strings"
      labels:
        type: "string"
        description: "all or a comma-separated list of: blue, green, orange, purple,\
          \ red or yellow"
      name:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "list"
  lists_closed:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "list"
  lists_idBoard:
    type: "object"
    properties:
      pos:
        type: "string"
        description: "position of the list on the new board"
      value:
        type: "string"
        description: "id of the board the list should be moved to"
    xml:
      name: "list"
  lists_moveAllCards:
    type: "object"
    properties:
      idBoard:
        type: "string"
        description: "id of the board that the cards should be moved to"
    xml:
      name: "list"
  lists_name:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "list"
  lists_pos:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A position. top , bottom , or a positive number."
    xml:
      name: "list"
  lists_subscribed:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "list"
  members:
    type: "object"
    properties:
      avatarSource:
        type: "string"
        description: "One of: gravatar, none or upload"
      bio:
        type: "string"
        description: "a string with a length from 0 to 16384"
      fullName:
        type: "string"
        description: "A string with a length of at least 1.  Cannot begin or end with\
          \ a space."
      initials:
        type: "string"
        description: "A string with a length from 1 to 4.  Cannot begin or end with\
          \ a space"
      prefs/colorBlind:
        type: "string"
        description: " true or false"
      prefs/locale:
        type: "string"
        description: "a string with a length from 0 to 255"
      prefs/minutesBetweenSummaries:
        type: "string"
        description: "-1 (disabled), 1 or 60"
      username:
        type: "string"
        description: "A string with a length of at least 3.  Only lowercase letters,\
          \ underscores, and numbers are allowed.  Must be unique."
    xml:
      name: "member"
  members_avatar:
    type: "object"
    properties:
      file:
        type: "string"
        description: "A file"
    xml:
      name: "member"
  members_avatarSource:
    type: "object"
    properties:
      value:
        type: "string"
        description: "One of: gravatar, none or upload"
    xml:
      name: "member"
  members_bio:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "member"
  members_boardBackgrounds:
    type: "object"
    properties:
      brightness:
        type: "string"
        description: "One of: dark, light or unknown"
      file:
        type: "string"
        description: "A file"
      tile:
        type: "string"
        description: " true or false"
    xml:
      name: "member"
  members_boardStars:
    type: "object"
    properties:
      idBoard:
        type: "string"
        description: "The id of the board to star"
      pos:
        type: "string"
        description: "A position. top , bottom , or a positive number."
    xml:
      name: "member"
  members_boardStars_idBoard:
    type: "object"
    properties:
      value:
        type: "string"
        description: "An id"
    xml:
      name: "member"
  members_boardStars_pos:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A position. top , bottom , or a positive number."
    xml:
      name: "member"
  members_customBoardBackgrounds:
    type: "object"
    properties:
      brightness:
        type: "string"
        description: "One of: dark, light or unknown"
      file:
        type: "string"
        description: "A file"
      tile:
        type: "string"
        description: " true or false"
    xml:
      name: "member"
  members_customEmoji:
    type: "object"
    properties:
      file:
        type: "string"
        description: "A file"
      name:
        type: "string"
        description: "a string with a length from 2 to 64"
    xml:
      name: "member"
  members_customStickers:
    type: "object"
    properties:
      file:
        type: "string"
        description: "A file"
    xml:
      name: "member"
  members_fullName:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A string with a length of at least 1.  Cannot begin or end with\
          \ a space."
    xml:
      name: "member"
  members_initials:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A string with a length from 1 to 4.  Cannot begin or end with\
          \ a space"
    xml:
      name: "member"
  members_oneTimeMessagesDismissed:
    type: "object"
    properties:
      value:
        type: "string"
        description: "Type of message dismissed"
    xml:
      name: "member"
  members_savedSearches:
    type: "object"
    properties:
      name:
        type: "string"
        description: "A non-empty string with at least one non-space character"
      pos:
        type: "string"
        description: "A position. top , bottom , or a positive number."
      query:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "member"
  members_savedSearches_name:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A non-empty string with at least one non-space character"
    xml:
      name: "member"
  members_savedSearches_pos:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A position. top , bottom , or a positive number."
    xml:
      name: "member"
  members_savedSearches_query:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 1 to 16384"
    xml:
      name: "member"
  members_username:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A string with a length of at least 3.  Only lowercase letters,\
          \ underscores, and numbers are allowed.  Must be unique."
    xml:
      name: "member"
  myPrefs_emailPosition:
    type: "object"
    properties:
      value:
        type: "string"
        description: "One of: bottom or top"
    xml:
      name: "board"
  myPrefs_idEmailList:
    type: "object"
    properties:
      value:
        type: "string"
        description: "An id"
    xml:
      name: "board"
  myPrefs_showListGuide:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "board"
  myPrefs_showSidebar:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "board"
  myPrefs_showSidebarActivity:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "board"
  myPrefs_showSidebarBoardActions:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "board"
  myPrefs_showSidebarMembers:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "board"
  notifications:
    type: "object"
    properties:
      unread:
        type: "string"
        description: " true or false"
    xml:
      name: "notification"
  notifications_unread:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "notification"
  organizations:
    type: "object"
    properties:
      desc:
        type: "string"
        description: "a string with a length from 0 to 16384"
      displayName:
        type: "string"
        description: "A string with a length of at least 1.  Cannot begin or end with\
          \ a space."
      name:
        type: "string"
        description: "a string with a length from 0 to 16384"
      prefs/associatedDomain:
        type: "string"
        description: "The google apps domain to link this org to."
      prefs/boardVisibilityRestrict/org:
        type: "string"
        description: "One of: admin, none or org"
      prefs/boardVisibilityRestrict/private:
        type: "string"
        description: "One of: admin, none or org"
      prefs/boardVisibilityRestrict/public:
        type: "string"
        description: "One of: admin, none or org"
      prefs/externalMembersDisabled:
        type: "string"
        description: " true or false"
      prefs/googleAppsVersion:
        type: "string"
        description: "a number from 1 to 2"
      prefs/orgInviteRestrict:
        type: "string"
        description: "An email address with optional expansion tokens"
      prefs/permissionLevel:
        type: "string"
        description: "One of: private or public"
      website:
        type: "string"
        description: "A URL starting with http:// or https:// or null"
    xml:
      name: "organization"
  organizations_desc:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "organization"
  organizations_displayName:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A string with a length of at least 1.  Cannot begin or end with\
          \ a space."
    xml:
      name: "organization"
  organizations_logo:
    type: "object"
    properties:
      file:
        type: "string"
        description: "A file"
    xml:
      name: "organization"
  organizations_members:
    type: "object"
    properties:
      email:
        type: "string"
        description: "An email address"
      fullName:
        type: "string"
        description: "A string with a length of at least 1.  Cannot begin or end with\
          \ a space."
      type:
        type: "string"
        description: "One of: admin, normal or observer"
    xml:
      name: "organization"
  organizations_members_deactivated:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "organization"
  organizations_memberships:
    type: "object"
    properties:
      member_fields:
        type: "string"
        description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
      type:
        type: "string"
        description: "One of: admin, normal or observer"
    xml:
      name: "organization"
  organizations_name:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A string with a length of at least 3.  Only lowercase letters,\
          \ underscores, and numbers are allowed.  Must be unique."
    xml:
      name: "organization"
  organizations_website:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A URL starting with http:// or https:// or null"
    xml:
      name: "organization"
  prefs_associatedDomain:
    type: "object"
    properties:
      value:
        type: "string"
        description: "The google apps domain to link this org to."
    xml:
      name: "organization"
  prefs_background:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A standard background name, or the id of a custom background"
    xml:
      name: "board"
  prefs_boardVisibilityRestrict:
    type: "object"
    properties:
      value:
        type: "string"
        description: "One of: admin, none or org"
    xml:
      name: "organization"
  prefs_calendarFeedEnabled:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "board"
  prefs_cardAging:
    type: "object"
    properties:
      value:
        type: "string"
        description: "One of: pirate or regular"
    xml:
      name: "board"
  prefs_cardCovers:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "board"
  prefs_colorBlind:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "member"
  prefs_comments:
    type: "object"
    properties:
      value:
        type: "string"
        description: "One of: disabled, members, observers, org or public"
    xml:
      name: "board"
  prefs_externalMembersDisabled:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "organization"
  prefs_googleAppsVersion:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a number from 1 to 2"
    xml:
      name: "organization"
  prefs_invitations:
    type: "object"
    properties:
      value:
        type: "string"
        description: "One of: admins or members"
    xml:
      name: "board"
  prefs_locale:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 255"
    xml:
      name: "member"
  prefs_minutesBetweenSummaries:
    type: "object"
    properties:
      value:
        type: "string"
        description: "-1 (disabled), 1 or 60"
    xml:
      name: "member"
  prefs_orgInviteRestrict:
    type: "object"
    properties:
      value:
        type: "string"
        description: "An email address with optional expansion tokens"
    xml:
      name: "organization"
  prefs_permissionLevel:
    type: "object"
    properties:
      value:
        type: "string"
        description: "One of: private or public"
    xml:
      name: "board"
  prefs_selfJoin:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "board"
  prefs_voting:
    type: "object"
    properties:
      value:
        type: "string"
        description: "One of: disabled, members, observers, org or public"
    xml:
      name: "board"
  sessions:
    type: "object"
    properties:
      idBoard:
        type: "string"
        description: "The id of the board you&#39;re viewing.  Boards with no viewers\
          \ will not get updates about members&#39; statuses."
      status:
        type: "string"
        description: "One of: active, disconnected or idle"
    xml:
      name: "session"
  sessions_status:
    type: "object"
    properties:
      value:
        type: "string"
        description: "One of: active, disconnected or idle"
    xml:
      name: "session"
  tokens_webhooks:
    type: "object"
    properties:
      callbackURL:
        type: "string"
        description: "A valid URL that is reachable with a HEAD request"
      description:
        type: "string"
        description: "a string with a length from 0 to 16384"
      idModel:
        type: "string"
        description: "id of the model to be monitored"
    xml:
      name: "token"
  webhooks:
    type: "object"
    properties:
      active:
        type: "string"
        description: " true or false"
      callbackURL:
        type: "string"
        description: "A valid URL that is reachable with a HEAD request"
      description:
        type: "string"
        description: "a string with a length from 0 to 16384"
      idModel:
        type: "string"
        description: "id of the model that should be hooked"
    xml:
      name: "webhook"
  webhooks_active:
    type: "object"
    properties:
      value:
        type: "string"
        description: " true or false"
    xml:
      name: "webhook"
  webhooks_callbackURL:
    type: "object"
    properties:
      value:
        type: "string"
        description: "A valid URL that is reachable with a HEAD request"
    xml:
      name: "webhook"
  webhooks_description:
    type: "object"
    properties:
      value:
        type: "string"
        description: "a string with a length from 0 to 16384"
    xml:
      name: "webhook"
  webhooks_idModel:
    type: "object"
    properties:
      value:
        type: "string"
        description: "id of the model to be monitored"
    xml:
      name: "webhook"
externalDocs:
  url: "https://aws.amazon.com/documentation/kinesis/"
x-hasEquivalentPaths: true
