---
swagger: "2.0"
info:
  description: "Use Amazon Kinesis Data Streams to collect and process large streams\
    \ of data records in real time.\n- Use Kinesis Video Streams to capture, process,\
    \ and store video streams for analytics and machine learning.\n- Use Kinesis Data\
    \ Streams to build custom applications that analyze data streams using popular\
    \ stream processing frameworks.\n- Use Kinesis Data Firehose to load data streams\
    \ into AWS data stores.\n- Use Kinesis Data Analytics to analyze data streams\
    \ with SQL."
  version: "1.0"
  title: "AmazonJAM Kinesis"
  contact:
    name: "Amazon JAM"
    url: "https://us-west-2.console.aws.amazon.com/kinesis/home?region=us-west-2#/streams/list/"
  license:
    name: "AWS | Site Terms"
    url: "https://aws.amazon.com/terms/"
  x-logo:
    url: "https://docs.aws.amazon.com/images/aws_logo_105x39.png"
  x-origin:
  - format: "swagger"
    url: "https://github.com/InnovationOps/JAM/tree/SWAGGERHUB/yaml-resolved"
    version: "2.0"
  x-preferred: true
  x-providerName: "Amazon.com"
  x-unofficialSpec: true
host: "aws.amazon.com"
basePath: "/streams"
tags:
- name: "AddTagsToStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_AddTagsToStream.html'\
    \ target='_blank'>See Request Syntax</a> "
- name: "CreateStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_CreateStream.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "DeleteStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_DeleteStream.html#API_createStream_RequestSyntax'\
    \ target='_blank'>See Request Syntax</a> "
- name: "DecreaseStreamRetentionPeriod"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_DecreaseStreamRetentionPeriod.html#API_decreaseStreamRetentionPeriod'\
    \ target='_blank'>See Request Syntax</a>"
- name: "DescribeLimits"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_DescribeLimits.html#API_DescribeStream'\
    \ target='_blank'>See Request Syntax</a> "
- name: "DescribeStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_DescribeStream.html#API_DescribeStream'\
    \ target='_blank'>See Request Syntax</a>"
- name: "DisableEnhancedMonitoring"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_DisableEnhancedMonitoring.html#API_DisableEnhancedMonitoring'\
    \ target='_blank'>See Request Syntax</a>"
- name: "EnableEnhancedMonitoring"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_index.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "GetRecords"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetRecords.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "GetShardIterator"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetShardIterator.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "IncreaseStreamRetentionPeriod"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_IncreaseStreamRetentionPeriod.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "ListStreams"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_ListStreams.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "ListTagsForStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_ListTagsForStream.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "MergeShards"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_ListTagsForStream.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "PutRecord"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_PutRecord.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "PutRecords"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_PutRecords.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "RemoveTagsFromStream"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_RemoveTagsFromStream.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "SplitShard"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_SplitShard.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "StartStreamEncryption"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_StartStreamEncryption.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "StopStreamEncryption"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_StopStreamEncryption.html'\
    \ target='_blank'>See Request Syntax</a>"
- name: "UpdateShardCount"
  description: "<a href='https://docs.aws.amazon.com/kinesis/latest/APIReference/API_UpdateShardCount.html'\
    \ target='_blank'>See Request Syntax</a>"
schemes:
- "https"
paths:
  /AddTagsToStream:
    post:
      tags:
      - "AddTagsToStream"
      summary: "addTagsToStream()"
      operationId: "addTagsToStream"
      parameters:
      - name: "StreamName"
        in: "query"
        description: "Adds or updates tags for the specified Kinesis stream"
        required: true
        type: "string"
      - name: "keyName"
        in: "query"
        description: "<a href=https://docs.aws.amazon.com/kinesis/latest/APIReference/API_AddTagsToStream.html#API_AddTagsToStream_RequestSyntax\
          \ target='_blank'>Generate your application key</a> "
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=https://docs.aws.amazon.com/kinesis/latest/APIReference/API_AddTagsToStream.html#API_AddTagsToStream_RequestSyntax\
          \ target='_blank'>Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /CreateStream:
    post:
      tags:
      - "CreateStream"
      summary: "createStream()"
      operationId: "createStream"
      parameters:
      - name: "shardCount"
        in: "query"
        description: "The number of shards that the stream will use"
        required: true
        type: "integer"
      - name: "streamName"
        in: "query"
        description: "A name to identify the stream"
        required: true
        type: "string"
      - name: "apiKey"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server Rejected"
      security:
      - api_key: []
      - api_token: []
  /DeleteStream:
    post:
      tags:
      - "DeleteStream"
      summary: "deleteStream()"
      operationId: "deleteStream"
      parameters:
      - name: "streamName"
        in: "query"
        description: "Deletes a Kinesis stream and all its shards and data"
        required: true
        type: "string"
      - name: "apiKey"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href='https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user'\
          \ target='_blank'>Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /DecreaseStreamRetentionPeriod:
    post:
      tags:
      - "decreaseStreamRetentionPeriod"
      summary: "decreaseStreamRetentionPeriod()"
      operationId: "decreaseStreamRetentionPeriod"
      parameters:
      - name: "retentionPeriodHours"
        in: "query"
        description: "To decrease stream retention period"
        required: true
        type: "integer"
      - name: "streamName"
        in: "query"
        description: "The name of the stream to modify"
        required: true
        type: "string"
      - name: "apiKey"
        in: "query"
        description: "<a href=\"https://trello.com/1/appKey/generate\"  target=\"\
          _blank\">Generate your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
  /DescribeLimits:
    post:
      tags:
      - "describeLimits"
      summary: "describeLimits()"
      operationId: "describeLimits"
      parameters:
      - name: "ExclusiveStartShardId"
        in: "query"
        description: "Describes the specified Kinesis stream"
        required: true
        type: "string"
      - name: "apiKey"
        in: "query"
        description: "<a href='https://trello.com/1/appKey/generate' target='_blank'>Generate\
          \ your application key</a>"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "<a href=\"https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user\"\
          \  target=\"_blank\">Getting a token from a user</a>"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Server rejection"
      security:
      - api_key: []
      - api_token: []
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"
  api_token:
    type: "apiKey"
    name: "token"
    in: "query"
definitions: {}
externalDocs:
  url: "https://aws.amazon.com/documentation/kinesis/"
x-hasEquivalentPaths: true
