---
swagger: "2.0"
info:
  title: "BrightIdea API"
  version: "Beta-1.0.0.5"
  description: >-
    Brightidea API is a RESTful interface to features provided by Brightidea web application. Prior to making any requests, read the list below on requirements and behaviors:
    
      - Authentication is required prior to making API requests for most cases. See Authentication for information on the process.
      - To make a request, Access Token and Host Name are the two basic components needed.
      - All requests must be encryptedand use HTTPS protocol
      - Response is in JSON. You have the option to receive in XML by passing the proper parameter on each request.
      - All timestamps included in responses are in Eastern Standard Time.
      - All requests are subject to rate limiting. Exceeding any rate limits will result in error response. 
      - All parameter value must be URL encoded.
      
        
      Request content type:
      
      
        application/x-www-form-urlencoded
    

    There are a few basic url structures to Brightidea API requests:
    
      - https://{host_name}/api3/{object}
      - https://{host_name}/api3/{object}/{id}
      - https://{host_name}/api3/widget/{object}
    
    Access Token: 
      
      A valid access token must be present for most cases. Access token is obtained at the end of the Authentication process. There 2 ways access token can be passed in the API request.
      
      Example:
      
        MyOrg.brightidea.com
      

    Header:
      
      When access token is passed in header, it must use the attribute name "Authorization". Value must be prefixed with the string "Bearer", follow by a space, then the token value
        
      Example:
        
        Authorization=Bearer 85f7b2462570acdde9a458ba6495b8763dcd040c.
        
    
      
      When passed as a POST or GET parameter, it must use the attribute name "access_token". Value is the token string. 
        
      Example:
      
        access_token=85f7b2462570acdde9a458ba6495b8763dcd040c
        
    
    Parameter requirements are different for each API function. Visit the Parameter section of each object page to understand what it takes to make a request.

host: "amgen.brightidea.com"
basePath: "/api3"
tags:
- name: Member
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/member' target='_blank'> Get Member Data</a>"
- name: ProfileImage 
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/ProfileImage' target='_blank'> Get ProfileImage Data</a>"
- name: Comment
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/comment' target='_blank'> Get Comments</a>"
- name: CommentVote
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/CommentVote' target='_blank'> Get data of one idea object</a>"
- name: Idea
  description:  
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: IdeaAttachment 
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/IdeaAttachment' target='_blank'> Get data of one idea object</a>"
- name: Blog
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Blog' target='_blank'> Get data of one idea object</a>"
- name: BlogComment
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/BlogComment' target='_blank'> Get data of one idea object</a>"
- name: Tag
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Tag' target='_blank'> Get data of one idea object</a>"
- name: Vote
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Vote' target='_blank'> Get data of one idea object</a>"
- name: ChipVote
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/ChipVote' target='_blank'> Get data of one idea object</a>"
- name: Activity
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Activity' target='_blank'> Get Activity Data</a>"
- name: Status
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Status' target='_blank'> Get Status Data</a>"
- name: Category
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Category' target='_blank'> Get Category Data</a>"
- name: Update
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Update' target='_blank'> Get Update</a>"
schemes:
- "https"
paths:
  /member:
    get:
      tags:
      - "Member"
      summary: "member()"
      operationId: "member"
      parameters:
      - name: "with"
        in: "query"
        description: "Returns sub-object or count of sub-objects relating to the member"
        required: false
        type: "string"
      - name: "format"
        in: "header"
        description: "Specifies returned data format"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server Rejection"
        401:
          description: "Missing parameter. client_id is Required"  
        403:
          description: "403 Forbidden"