---
swagger: "2.0"
info:
  title: "BrightIdea API"
  version: "Beta-1.0.0.5"
  description: >-
    Brightidea API is a RESTful interface to features provided by Brightidea web application. Prior to making any requests, read the list below on requirements and behaviors:
    
      - Authentication is required prior to making API requests for most cases. See Authentication for information on the process.
      - To make a request, Access Token and Host Name are the two basic components needed.
      - All requests must be encryptedand use HTTPS protocol
      - Response is in JSON. You have the option to receive in XML by passing the proper parameter on each request.
      - All timestamps included in responses are in Eastern Standard Time.
      - All requests are subject to rate limiting. Exceeding any rate limits will result in error response. 
      - All parameter value must be URL encoded.
      
        
      Request content type:
      
      
        application/x-www-form-urlencoded
    

    There are a few basic url structures to Brightidea API requests:
    
      - https://{host_name}/api3/{object}
      - https://{host_name}/api3/{object}/{id}
      - https://{host_name}/api3/widget/{object}
    
    Access Token: 
      
      A valid access token must be present for most cases. Access token is obtained at the end of the Authentication process. There 2 ways access token can be passed in the API request.
      
      Example:
      
        MyOrg.brightidea.com
      

    Header:
      
      When access token is passed in header, it must use the attribute name "Authorization". Value must be prefixed with the string "Bearer", follow by a space, then the token value
        
      Example:
        
        Authorization=Bearer 85f7b2462570acdde9a458ba6495b8763dcd040c.
        
    
      
      When passed as a POST or GET parameter, it must use the attribute name "access_token". Value is the token string. 
        
      Example:
      
        access_token=85f7b2462570acdde9a458ba6495b8763dcd040c
        
    
    Parameter requirements are different for each API function. Visit the Parameter section of each object page to understand what it takes to make a request.

host: "amgen.brightidea.com"
basePath: "/api3"
tags:
- name: Idea
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one IdeaAttachment object</a>"
- name: IdeaAttachment 
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/ideaAttachment' target='_blank'> Get data of one Member object</a>"
- name: Member
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/member' target='_blank'> Get data of one idea object</a>"
- name: "Applications Hourly"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/profileImage' target='_blank'> Get data one Image object</a>"
- name: ProfileImage 
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/comment' target='_blank'> Get data of one Comment object</a>"
- name: Comment
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "Application Events"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "Business Activities Raw"
  description:  
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "Business Activities Hourly"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "Business Activities Daily"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "Dashboard Views Audit"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "Device Inventory"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "Reporting Agents Count"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "Not Reporting Activities"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "User Audit"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "Windows Machine Boots"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "API NOC Application Current Score"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: "API NOC Application Historical Score"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
schemes:
- "https"
paths:
  /Idea:
    get:
      tags:
      - "Idea"
      summary: "idea()"
      operationId: "idea"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server Rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /IdeaAttachment:
    get:
      tags:
      - "All Activities"
      summary: "allActivities()"
      description: "Returns a summary list of all of the activities reported to Aternity\
        \ over the past seven days."
      operationId: "allActivities"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Member: 
    get:
      tags:
      - "Applications Raw"
      summary: "applicationsRaw()"
      description: "Use the APPLICATIONS_RAW API to retrieve the raw list of reports\
        \ from Aternity at five minute intervals"
      operationId: "applicationsRaw"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /ProfileImage: 
    get:
      tags:
      - "Applications Hourly"
      summary: "applicationsHourly()"
      description: "View the performance each discovered application running on a\
        \ device, where the measurements are aggregated per hour or per day, along\
        \ with the user, location and device details."
      operationId: "applicationsHourly"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Comment: 
    get:
      tags:
      - "Comment"
      summary: "comment()"
      description: "Use APPLICATIONS_DAILY to view performance of each application\
        \ running on a device, the measurements are aggregated per day, along with\
        \ the user, location and device details."
      operationId: "comment"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /CommentVote:
    get:
      tags:
      - "Comment Vote"
      summary: "commentVote()"
      description: "View the resource usage (PRC) of the process of each managed application\
        \ aggregated hourly, along with application, user, location and device details."
      operationId: "commentVote"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Blog: 
    get:
      tags:
      - "Blog"
      summary: "blog()"
      description: "Return application events which report errors or check how often\
        \ someone used a feature in your application, like accessing the online help."
      operationId: "blog"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /BlogComment: 
    get:
      tags:
      - "Business Activities Raw"
      summary: "businessActivitiesRaw()"
      description: "Returns the list of activities as reported to Aternity one by\
        \ one, to allow you to see the detailed user experience of all the activities\
        \ performed on one device, multiple devices, or all devices."
      operationId: "businessActivitiesRaw"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Tag: 
    get:
      tags:
      - "Business Activities Hourly"
      summary: "businessActivitiesHourly()"
      description: "Returns an hourly aggregation of the list of activities (from\
        \ o'clock to o'clock), along with the application, user and device details."
      operationId: "businessActivitiesHourly"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Vote: 
    get:
      tags:
      - "Business Activities Daily"
      summary: "businessActivitiesDaily()"
      description: "Returns a daily aggregation of activities, along with the application,\
        \ user and device details."
      operationId: "businessActivitiesDaily"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /ChipVote: 
    get:
      tags:
      - "Dashboard Views Audit"
      summary: "dashboardViewsAudit()"
      description: "Returns a list of Aternity dashboards that users accessed over\
        \ the past seven days, and the username and time of each access, so that you\
        \ can audit or monitor the users who view different parts of Aternity."
      operationId: "dashboardViewsAudit"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Activity: 
    get:
      tags:
      - "Device Inventory"
      summary: "deviceInventory()"
      description: "Returns a detailed list of devices that reported data to Aternity\
        \ over the past seven days, so that you can view an updated, comprehensive\
        \ list of all monitored devices in your organization."
      operationId: "deviceInventory"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Status: 
    get:
      tags:
      - "Reporting Agents Count"
      summary: "reportingAgentsCount()"
      description: "Returns a summary of the number of reporting devices in each location\
        \ over the past seven days, to quickly determine whether all devices are continually\
        \ reporting data."
      operationId: "reportingAgentsCount"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Category:
    get:
      tags:
      - "Not Reporting Activities"
      summary: "notReportingActivities()"
      description: "Returns a list of activities that have not reported to Aternity\
        \ over the past seven days, which either indicates no one is performing this\
        \ action, or there may be a problem with the activity's definition which may\
        \ cause it to miss capturing when people perform the action in your application."
      operationId: "notReportingActivities"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Update: 
    get:
      tags:
      - "User Audit"
      summary: "userAudit()"
      description: "USER_AUDIT returns a list of users and the times that they successfully\
        \ signed in to Aternity, so that you can audit or monitor the people accessing\
        \ the system."
      operationId: "userAudit"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /UpdateHifive: 
    get:
      tags:
      - "Windows Machine Boots"
      summary: "windowsMachineBoots()"
      description: "Returns the boot times of all monitored Windows devices."
      operationId: "windowsMachineBoots"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /UpdateComment: 
    get:
      tags:
      - "API NOC Application Current Score"
      summary: "apiNocApplicationCurrScore()"
      description: "Returns activity scores and volumes of each application in each\
        \ location, in each department within that location."
      operationId: "apiNocApplicationCurrScore"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /PdateCommentHifive: 
    get:
      tags:
      - "API NOC Application Historical Score"
      summary: "apiNocApplicationHistScore()"
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "apiNocApplicationHistScore"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Group:
    get:
      tags:
      - "Group"
      summary: "group()"
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "group"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Campaign: 
    get:
      tags:
      - "Campaign"
      summary: "campaign()"
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "campaign"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /MobileDevice: 
    get:
      tags:
      - "Mobile Device"
      summary: "mobileDevice()"
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "mobileDevice"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /EmailValidation: 
    get:
      tags:
      - "Email Validation"
      summary: "emailValidation()"
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "emailValidation"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Notification: 
    get:
      tags:
      - "Notification"
      summary: "notification()"
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "notification"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Search: 
    get:
      tags:
      - "Search"
      summary: "search()"
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "search"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Report: 
    get:
      tags:
      - "Report"
      summary: "report()"
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "report"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Apilog: 
    get:
      tags:
      - "API Log"
      summary: "apiLog()"
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "apiLog"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
  /Widget:
    get:
      tags:
      - "Widget"
      summary: "widget()"
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "widget"
      parameters:
      - name: "$format"
        in: "header"
        description: "Use $format to force the returned data to be in XML or JSON\
          \ format"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        description: "Use $top by returning the first few entries sequentially"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        description: "Use $select o return several columns, list them separated by\
          \ a comma"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        description: "Use $filter to insert conditions which narrow down the output\
          \ data returned"
        required: false
        type: "string"
      responses:
        200:
          description: "Status OK"
        400:
          description: "Server rejection"
        403:
          description: "403 Forbidden"
      security:
      - api_key: []
      - api_token: []
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"
  api_token:
    type: "apiKey"
    name: "token"
    in: "query"
definitions: {}
x-hasEquivalentPaths: true