swagger: "2.0"
info:
  title: "BrightIdea API"
  version: "Beta-1.0.0.5"
  description: >-
    Brightidea API is a RESTful interface to features provided by Brightidea web application. Prior to making any requests, read the list below on requirements and behaviors:
    
      - Authentication is required prior to making API requests for most cases. See Authentication for information on the process.
      - To make a request, Access Token and Host Name are the two basic components needed.
      - All requests must be encryptedand use HTTPS protocol
      - Response is in JSON. You have the option to receive in XML by passing the proper parameter on each request.
      - All timestamps included in responses are in Eastern Standard Time.
      - All requests are subject to rate limiting. Exceeding any rate limits will result in error response. 
      - All parameter value must be URL encoded.
      
        
      Request content type:
      
      
        application/x-www-form-urlencoded
    

    There are a few basic url structures to Brightidea API requests:
    
      - https://Amgen.brightidea.com/api3/{object}
      - https://Amgen.brightidea.com/api3/{object}/{id}
      - https://Amgen.brightidea.com/api3/widget/{object}
    
    Access Token: 
      
      A valid access token must be present for most cases. Access token is obtained at the end of the Authentication process. There 2 ways access token can be passed in the API request.
      
      Example:
      
        Amgen.brightidea.com
      

    Header:
      
      When access token is passed in header, it must use the attribute name "Authorization". Value must be prefixed with the string "Bearer", follow by a space, then the token value
        
      Example:
        
        Authorization=Bearer 85f7b2462570acdde9a458ba6495b8763dcd040c.
        
    
      
      When passed as a POST or GET parameter, it must use the attribute name "access_token". Value is the token string. 
        
      Example:
      
        access_token=85f7b2462570acdde9a458ba6495b8763dcd040c
        
    
    Parameter requirements are different for each API function. Visit the Parameter section of each object page to understand what it takes to make a request.
host: "amgen.brightidea.com"
basePath: "/api3"
tags:
- name: "Member"
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/member' target='_blank'> Get Member Data</a>"
- name: ProfileImage 
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/ProfileImage' target='_blank'> Get ProfileImage Data</a>"
- name: Comment
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/comment' target='_blank'> Get Comments</a>"
- name: CommentVote
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/CommentVote' target='_blank'> Get data of one idea object</a>"
- name: Idea
  description:  
      "<a href='https://developer.brightidea.com/_documentation/api/idea' target='_blank'> Get data of one idea object</a>"
- name: IdeaAttachment 
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/IdeaAttachment' target='_blank'> Get data of one idea object</a>"
- name: Blog
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Blog' target='_blank'> Get data of one idea object</a>"
- name: BlogComment
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/BlogComment' target='_blank'> Get data of one idea object</a>"
- name: Tag
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Tag' target='_blank'> Get data of one idea object</a>"
- name: Vote
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Vote' target='_blank'> Get data of one idea object</a>"
- name: ChipVote
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/ChipVote' target='_blank'> Get data of one idea object</a>"
- name: Activity
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Activity' target='_blank'> Get Activity Data</a>"
- name: Status
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Status' target='_blank'> Get Status Data</a>"
- name: Category
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Category' target='_blank'> Get Category Data</a>"
- name: Update
  description: 
      "<a href='https://developer.brightidea.com/_documentation/api/Update' target='_blank'> Get Update</a>"
schemes:
- "https"
paths:
  /Member:
    get:
      description: "Use CONNECTION_TEST to check your connection to the REST API service"
      operationId: "connectionTest"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Bearer e294b53399f99d330e7ec73ab1813f9ba717eb43"
      - name: "accept"
        in: "header"
        required: true
        type: "string"
        description: "application/x-www-form-urlencoded"
      responses:
        200:
          description: "OK"
        401:
          description: "Unauthorized"  
        403:
          description: "403 Forbidden"
  /ALL_ACTIVITIES:
    get:
      description: "Returns a summary list of all of the activities reported to Aternity\
        \ over the past seven days."
      operationId: "allActivities"
      parameters:
      - name: "format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "filter"
        in: "header"
        required: false
        type: "string"
      - name: "select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
        403:
          description: "403 Forbidden"
  /APPLICATIONS_HOURLY:
    get:
      description: "View the performance each discovered application running on a\
        \ device, where the measurements are aggregated per hour or per day, along\
        \ with the user, location and device details."
      operationId: "applicationsHourly"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
        403:
          description: "403 Forbidden"
  /APPLICATION_RESOURCES_HOURLY:
    get:
      description: "View the resource usage (PRC) of the process of each managed application\
        \ aggregated hourly, along with application, user, location and device details."
      operationId: "appResourcesHourly"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
        403:
          description: "403 Forbidden"
  /APPLICATION_EVENTS:
    get:
      description: "Return application events which report errors or check how often\
        \ someone used a feature in your application, like accessing the online help."
      operationId: "appEvents"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
        403:
          description: "403 Forbidden"
  /BUSINESS_ACTIVITIES_RAW:
    get:
      description: "Returns the list of activities as reported to Aternity one by\
        \ one, to allow you to see the detailed user experience of all the activities\
        \ performed on one device, multiple devices, or all devices."
      operationId: "businessActivitiesRaw"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /BUSINESS_ACTIVITIES_HOURLY:
    get:
      description: "Returns an hourly aggregation of the list of activities (from\
        \ o'clock to o'clock), along with the application, user and device details."
      operationId: "businessActivitiesHourly"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /BUSINESS_ACTIVITIES_DAILY:
    get:
      description: "Returns a daily aggregation of activities, along with the application,\
        \ user and device details."
      operationId: "businessActivitiesDaily"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /DASHBOARD_VIEWS_AUDIT:
    get:
      description: "Returns a list of Aternity dashboards that users accessed over\
        \ the past seven days, and the username and time of each access, so that you\
        \ can audit or monitor the users who view different parts of Aternity."
      operationId: "dashboardViewsAudit"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /DEVICE_INVENTORY:
    get:
      description: "Returns a detailed list of devices that reported data to Aternity\
        \ over the past seven days, so that you can view an updated, comprehensive\
        \ list of all monitored devices in your organization."
      operationId: "deviceInventory"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /REPORTING_AGENTS_COUNT:
    get:
      description: "Returns a summary of the number of reporting devices in each location\
        \ over the past seven days, to quickly determine whether all devices are continually\
        \ reporting data."
      operationId: "reportingAgentsCount"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /NOT_REPORTING_ACTIVITIES:
    get:
      description: "Returns a list of activities that have not reported to Aternity\
        \ over the past seven days, which either indicates no one is performing this\
        \ action, or there may be a problem with the activity's definition which may\
        \ cause it to miss capturing when people perform the action in your application."
      operationId: "notReportingActivities"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /USER_AUDIT:
    get:
      description: "Returns a list of users and the times that they successfully signed\
        \ in to Aternity, so that you can audit or monitor the people accessing the\
        \ system."
      operationId: "userAudit"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /WINDOWS_MACHINE_BOOTS:
    get:
      description: "Returns the boot times of all monitored Windows devices."
      operationId: "windowsMachineBoots"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /API_NOC_APPLICATION_CURR_SCORE:
    get:
      description: "Returns activity scores and volumes of each application in each\
        \ location, in each department within that location."
      operationId: "apiNocApplicationCurrScore"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /API_NOC_APPLICATION_HIST_SCORE:
    get:
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "apiNocApplicationHistScore"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
definitions: {}
x-hasEquivalentPaths: true