---
swagger: "2.0"
info:
  version: "0.0.1"
  title: "Aternity JAM"
host: "my-odata.aternity.com"
basePath: "/aternity.odata"
paths:
  /CONNECTION_TEST:
    get:
      operationId: "connectionTest"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /ALL_ACTIVITIES:
    get:
      description: "Returns a summary list of all of the activities reported to Aternity\
        \ over the past seven days."
      operationId: "allActivities"
      parameters:
      - name: "format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "filter"
        in: "header"
        required: false
        type: "string"
      - name: "select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
        403:
          description: "403 Forbidden"
  /APPLICATIONS_HOURLY:
    get:
      description: "View the performance each discovered application running on a\
        \ device, where the measurements are aggregated per hour or per day, along\
        \ with the user, location and device details."
      operationId: "applicationsHourly"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
        403:
          description: "403 Forbidden"
  /APPLICATION_RESOURCES_HOURLY:
    get:
      description: "View the resource usage (PRC) of the process of each managed application\
        \ aggregated hourly, along with application, user, location and device details."
      operationId: "appResourcesHourly"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
        403:
          description: "403 Forbidden"
  /APPLICATION_EVENTS:
    get:
      description: "Return application events which report errors or check how often\
        \ someone used a feature in your application, like accessing the online help."
      operationId: "appEvents"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
        403:
          description: "403 Forbidden"
  /BUSINESS_ACTIVITIES_RAW:
    get:
      description: "Returns the list of activities as reported to Aternity one by\
        \ one, to allow you to see the detailed user experience of all the activities\
        \ performed on one device, multiple devices, or all devices."
      operationId: "businessActivitiesRaw"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /BUSINESS_ACTIVITIES_HOURLY:
    get:
      description: "Returns an hourly aggregation of the list of activities (from\
        \ o'clock to o'clock), along with the application, user and device details."
      operationId: "businessActivitiesHourly"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /BUSINESS_ACTIVITIES_DAILY:
    get:
      description: "Returns a daily aggregation of activities, along with the application,\
        \ user and device details."
      operationId: "businessActivitiesDaily"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /DASHBOARD_VIEWS_AUDIT:
    get:
      description: "Returns a list of Aternity dashboards that users accessed over\
        \ the past seven days, and the username and time of each access, so that you\
        \ can audit or monitor the users who view different parts of Aternity."
      operationId: "dashboardViewsAudit"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /DEVICE_INVENTORY:
    get:
      description: "Returns a detailed list of devices that reported data to Aternity\
        \ over the past seven days, so that you can view an updated, comprehensive\
        \ list of all monitored devices in your organization."
      operationId: "deviceInventory"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /REPORTING_AGENTS_COUNT:
    get:
      description: "Returns a summary of the number of reporting devices in each location\
        \ over the past seven days, to quickly determine whether all devices are continually\
        \ reporting data."
      operationId: "reportingAgentsCount"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /NOT_REPORTING_ACTIVITIES:
    get:
      description: "Returns a list of activities that have not reported to Aternity\
        \ over the past seven days, which either indicates no one is performing this\
        \ action, or there may be a problem with the activity's definition which may\
        \ cause it to miss capturing when people perform the action in your application."
      operationId: "notReportingActivities"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /USER_AUDIT:
    get:
      description: "Returns a list of users and the times that they successfully signed\
        \ in to Aternity, so that you can audit or monitor the people accessing the\
        \ system."
      operationId: "userAudit"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /WINDOWS_MACHINE_BOOTS:
    get:
      description: "Returns the boot times of all monitored Windows devices."
      operationId: "windowsMachineBoots"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /API_NOC_APPLICATION_CURR_SCORE:
    get:
      description: "Returns activity scores and volumes of each application in each\
        \ location, in each department within that location."
      operationId: "apiNocApplicationCurrScore"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
  /API_NOC_APPLICATION_HIST_SCORE:
    get:
      description: "Returns many five-minute scores for each location, and each department\
        \ within a location."
      operationId: "apiNocApplicationHistScore"
      parameters:
      - name: "$format"
        in: "header"
        required: false
        type: "string"
      - name: "$top"
        in: "header"
        required: false
        type: "string"
      - name: "$filter"
        in: "header"
        required: false
        type: "string"
      - name: "$select"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
definitions: {}
